* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: rgb(21, 8, 75);
    color: aliceblue;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    row-gap: 2rem;
}

.main-wrapper span {
    font-size: 12rem;
}

.buttons {
    display: flex;
    gap: 1rem;
}

button {
    color: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 10px;
    background-color: transparent;
}

.buttons button {
    font-size: 2rem;
    padding: 1rem 2rem;
}

.form-button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 1rem;
}

nav a {
    color:rgba(250, 235, 215, 0.581);
    text-decoration: none;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.form-field {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.form-field input {
    width: 20%;
}